.settings-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  z-index: 2000; /* Ensure it's on top of everything */
}

.settings-panel label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settings-panel input {
  margin-right: 10px;
}